# .NET Core
*.user
*.suo
*.ntvs*
*.nupkg
# Build results
*/bin/
*/obj/
# User-specific files
*.sln.docstates
# Visual Studio 2022 cache files
.vs/

# Azure
azure.*

# Other
node_modules/
.DS_Store
Thumbs.db